<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Bold-BS4-Text-Shadow-Effects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
</head>

<body style="background-color: rgb(45, 45, 45);">
    <nav class="navbar navbar-dark navbar-expand-lg navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px; margin-bottom: 20px;">
        <div class="container">
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="margin-top: 10px"  >
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <a class="navbar-brand" href="/">
                    <span><img src="{{ url_for('static', filename='img/logo.png') }}" style="width: 100px;"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><a class="nav-link {{ 'active' if current == 'about' else ''}}" href="{{ url_for('about') }}">About me</a></li>
                    <li class="nav-item"><a class="nav-link {{ 'active' if current == 'achievments' else ''}}" href="{{ url_for('achievments') }}">My achievments</a></li>
                    <li class="nav-item"><a class="nav-link {{ 'active' if current == 'projects' else ''}}" href="{{ url_for('projects') }}">My projects</a></li>
                    <li class="nav-item"><a class="nav-link {{ 'active' if current == 'contacts' else ''}}" href="{{ url_for('contacts') }}">My contacts</a></li>
                    <li class="nav-item"><a class="nav-link {{ 'active' if current == 'comments' else ''}}" href="{{ url_for('comments') }}">Comments</a></li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.admin %}
                        <li class="nav-item"><a class="nav-link" href="/admin">Admin page</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
                <span class="ms-auto actions">
                {% if current_user.is_authenticated %}
                    <a role="button" class="btn btn-outline-light" href="{{ url_for('profile') }}">
                        Profile
                    </a>
                    <a role="button" class="btn btn-light action-button" href="{{ url_for('logout') }}">
                        Log Out
                    </a>
                {% else %}
                    <a role="button" class="btn btn-outline-light"  href="{{ url_for('login') }}">
                        Log In
                    </a>
                    <a role="button" class="btn btn-light action-button"  href="{{ url_for('signup') }}">
                        Sign Up
                    </a>
                {% endif %}

                </span>

            </div>
        </div>
    </nav>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- Begin page content -->
    <main role="main" class="container">
        <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center text-center">
        {% block content %}{% endblock %}
        </div>
    </main>

</body>
</html>
