{% extends "!base.html" %}

{% block content %}

<div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
<div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 5px;">
<div class="p-5">
<div class="text-center">
<h4 class="text-dark mb-4">Reset Password</h4>
</div>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.email(class="form-control", type="email", placeholder=form.email.label.text) }}
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary d-block btn-user w-100") }}</p>
    {% if message %}
        <p class="alert alert-danger" role="alert">
            {{message}}
        </p>
    {% endif %}
</form>

<div class="text-center"><a class="small" href="{{ url_for('signup') }}">Have no account? Create It!</a></div>

</div>
</div>
</div>
{% endblock %}