{% extends "!base.html" %}

{% block content %}

{% if list_|length > 0%}

  {% for project in list_ %}

  <div class="card" style="width: 18rem; background-color: rgb(34, 34, 34); margin: 1rem;">
    <img class="card-img-top" src="{{ project['img'] if 'img' in project else url_for('static', filename='img/logo.png') }}" alt="Card image cap">
    <hr>
    <div class="card-body" style="display:flex; flex-direction:column;">
      <h5 class="card-title text-white mb-3">{{ project['title'] }}</h5>
      <p class="card-text text-white mb-2">{{ project['description'] }}</p>

      {% if 'url' in project %}
      <a role="button" class="btn btn-outline-light w-100" href="{{ project['url'] }}"> More </a>

      {% else %}
      <a role="button" class="btn btn-outline-light disabled w-100" style="margin-top: auto" > More </a>

      {% endif %}
    </div>
  </div>
  {% endfor %}

{% else %}
<div class="text-light"> Oh no, I have no projects!</div>
{% endif %}

{% endblock %}